{% set category_ranges = survey.categoryRanges|default(null) %}
{% if category_ranges %}
    <p class="chapters">
        <strong>{{ survey.configuration.labels.sections|default('Sections'|trans) }}</strong>

        {% for range, category in category_ranges %}
            {% set range = range|split('-') %}
            <br/>
            {{ range[0]+1 }}{% if range|length > 1 %}–{{ range[1]+1 }}{% endif %} {{ category }}
        {% endfor %}
    </p>
{% endif %}
