<div class="legend">
    <p><strong>{{ 'Legend'|trans }}</strong></p>
    <dl>
        {% for label in survey.rating %}
            <dd><span class="legend-color legend-color-{{ loop.index0 }}"></span>{{ loop.index }}. {{ label }}</dd>
        {% endfor %}
    </dl>
</div>
